::ng-deep app-login{
  width: 100%;
}

.component{
  width: 100%;
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.content{
  width: 30%;
}

/*.button2{
  margin-left: 20px;
}*/
