nav{
  display: flex;

  flex-direction: column;
  width: 64px;

  height: 100%;

  overflow: hidden;
  position: fixed;

  background-color: #2e2d2e;
}

img{
  width: 100%;
}

button{
  background: none;
  border: none;

  display: flex;
  justify-content: center;

  cursor: pointer;
  outline: none;
}

.buttons{
  height: 24%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.first-button{
  margin-top: 24px;
}
