<div class="component">
  <div class="content">
    <div class="header">
      <h1>Clients</h1>
      <button class="button-exit" (click)="logout()">
        <img class="button-exit-img" src="../../assets/images/exit.png" alt="">
      </button>
    </div>

    <div class="clients-list" *ngIf="clients; else loading">
      <ul>
        <li *ngFor="let client of clients" [routerLink]="['/main', client.id]">
          <h2 class="client-name">Name: {{client.name}}</h2>
          <h4 class="client-email">E-mail: {{client.email}}</h4>
          <h4 class="client-id">Id: {{client.id}}</h4>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #loading>
  <span>Loading...</span>
</ng-template>
