.clients-list li{
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #999;
  cursor: pointer;
  margin: 0;
  list-style-type: none;

  padding: 0 10px;

  box-sizing: border-box;

  width: 100%;
}

.clients-list li:not(:first-child){
  margin-top: 10px;
}

ul{
  margin: 0;
  padding: 0;
}

::ng-deep app-main{
  width: 100%;
}

.client-name{
  font-family: Arial;
  color: #00a8ff;
  font-weight: bold;
}

.client-email{
  font-family: Arial;
  color: #5f6a9e;
  font-weight: 100;
}

.client-id{
  font-family: Arial;
  color: #8cc6fe;
  font-weight: 100;
}

h1{
  font-family: Arial;
}

.component{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content{
  width: 90%;
}

.button-exit{
  background: none;
  border: none;
  outline: none;
}

.button-exit-img{
  height: 40px;
}

.header{
  display: flex;
  justify-content: space-between;
}
