@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;

  height: 100%;
  background: linear-gradient(-45deg, #da5455, #2daae2);

  overflow: hidden;

  color: #eff2f5;

  font-size: 18px;
}
